@import-normalize;
@import 'reset.scss';
@import 'variables.scss';
@import 'mixin.scss';
@import 'animation.scss';

.global {
  font-size: 20px;
}

.global-ignore {
  background: #ccc !important;
  font-size: 20px;
}
